/*-----------------
    RESET
------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: 'Roboto', sans-serif;
}

/*-----------------
    COMMONS
------------------*/

/*-----------------
    BUTTONS
------------------*/
button {
    border: none;
    cursor: pointer;
    color: white;
}
.transparent-button {
    background-color: transparent;
}

/*-----------------
    HEADER
------------------*/
header {
    /* background-color: pink; */
    background-color: #111111;
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-record, .header-view {
    width: 12%;
    padding: 10px;
    /* background-color: coral; */
    display: flex;
}

.icon.secure {
    color: #67d669;
}

.header-record {
    justify-content: space-between;
    align-items: center;
}

.header-view {
    justify-content: flex-end;
}

/*-----------------
    MAIN
------------------*/
main {
    padding: 80px 0;
    color: white;
    background-color: black;
}
.cam-container {
    width: 92%;
    margin: auto;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.cam-box {
    width: calc(98% / 6);
    height: 130px;
    background-color: lightsalmon;
    border-radius: 10px;
    background-image: url(../img/user.jpg);
    background-position: center;
    background-size: cover;
    font-size: 0.8em;
    position: relative;
}

.cam-info-box {
    background-color: rgba(30,30,30,0.7);
    padding: 5px;
    width: 110px;
    border-radius: 6px;
    position: absolute;
    left: 6px;
    bottom: 6px;
}

.mic-status {
    color: #cc3c33;
    margin-right: 5px;
}

